{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class=""></i> Total Projects</span>
        <div class="count">50+</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class=""></i>Total Nanodegrees</span>
        <div class="count">20+</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class=""></i> Total Group Projects</span>
        <div class="count green">15+</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class=""></i> Nanodegrees Left</span>
        <div class="count">20</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class=""></i>Group Projects Left</span>
        <div class="count">15</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-calendar"></i> Due Date</span>
        <div class="count">30/06/18</div>
        
      </div>
    </div>
    <!-- /top tiles -->
    <!-- <h1>Data to be shown</h1> -->
    <!-- <div>  class="right_col" role="main"> -->
      <div></div>
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Nanodegrees</h3>
          </div>
          <!-- <div class="title_center">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div> -->
          <div>
            <div class = "title_right">
              <h3>EPIP</h3>
            </div>
          </div>
  
          
        </div>
  
        <div class="clearfix"></div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="x_panel">
              <div class="x_title">
                <h2>Artificial Intelligence </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Learn about basics of Artificial Intelligence and more..</h5>
  
                <button type="submit" class="btn btn-dark"  onclick="window.location='../enroll'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>
             <div class="x_panel">
              <div class="x_title">
                <h2>Natural Language Processing </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Learn about of Natural Language Processing and more..</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>
             <div class="x_panel">
              <div class="x_title">
                <h2>Computer Vission</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Learn about baiscs of Computer Vision and more..</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>  
             <div class="x_panel">
              <div class="x_title">
                <h2>Intro. to Programming </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Learn about baisc skills required to be a programmer and more..</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>  
             <div class="x_panel">
              <div class="x_title">
                <h2>VR Developer </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Learn about basics of Virtual Reallity and more..</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div> 
            <div class="x_panel">
              <div class="x_title">
                <h2>Data Analyst</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Learn about basics of Data Analysis concepts and more..</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div> 
            <div class="x_panel">
              <div class="x_title">
                <h2>Mobile Web Specialist </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Earn Skills for Prgressive Mobile App. devlopment and more..</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>                         
             
          </div>
  
          <div class="col-md-6">
           <div class="x_panel">
              <div class="x_title">
                <h2>Gas leakage detector</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Using Arduino UNO and GSM module to builg gas leakage detector.</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll_epip'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>
             <div class="x_panel">
              <div class="x_title">
                <h2>InterCollege Transportation System </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Using non-conventional energy resource to develop transport system.</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll_epip'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>

            <div class="x_panel">
              <div class="x_title">
                <h2>Over-Speed Warning Systems</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Using GSM system to develop Real Time Over-speeding warning systems.</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll_epip'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>
            <div class="x_panel">
              <div class="x_title">
                <h2>Cafeteria Recharge Sytem</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Developing a smart and User-friendly recharge system for University cafeterias.</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll_epip'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>

            <div class="x_panel">
              <div class="x_title">
                <h2>Self-Managed Library </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>Self learning and automated Library Management System.</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll_epip'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>

            <div class="x_panel">
              <div class="x_title">
                <h2>All weather Passages </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>An all weather Passage design for University.</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll_epip'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>

            <div class="x_panel">
              <div class="x_title">
                <h2>Hostel Feedback Discussion Application</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
               <h5>A Andorid appliation for Hostel Feedback Process.</h5>
  
                <button type="button" class="btn btn-dark" onclick="window.location='../enroll_epip'">Enroll</button>
  
                <button type="button" class="btn btn-link">Link</button>
              </div>
            </div>






          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
{% endblock javascripts %}
