{% extends "base_site.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <!-- Animate.css -->
  <link href="{{ url_for('static', filename='vendors/animate.css/animate.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    
    <h1 style="text-align:center;">Chitkara Online Learning Platform</h1>
    <div class="login_wrapper">
      
       
      <div class="animate form login_form">
        <section class="login_content">
          <form method="post">
            
            
            {% for field in login_form if field.widget.input_type != 'hidden'  %}
            <div>
                {{ field(class="form-control", placeholder=field.label.text) }}
            </div>
            {% endfor %}
            
            <div>
            <button type="submit" class="btn btn-default submit" name="login">Log in</button>
            <a class="reset_pass" href="#">Lost your password?</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">New to site?
                <a href="#signup" class="to_register"> Create Account </a>
              </p>

              <div class="clearfix"></div>
              <br />

              
            </div>
          </form>
        </section>
      </div>

    
   


      <div id="register" class="animate form registration_form">
        <section class="login_content">
          <form method="post">
            <h1>Create Account</h1>

            {% for field in create_account_form if field.widget.input_type != 'hidden'  %}
            <div>
                {{ field(class="form-control", placeholder=field.label.text) }}
            </div>
            {% endfor %}
            
            <div>
              <button type="submit" class="btn btn-default submit" name="create_account">Sign up</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="#signin" class="to_register"> Log in </a>
              </p>

              <div class="clearfix"></div>
              <br />

              
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock body %}

